TASK 0

In [8]:
import MySQLdb

db = MySQLdb.connect(host="localhost", user="root", passwd="1amge0rge.")
cursor = db.cursor()

cursor.execute("DROP DATABASE IF EXISTS hbtn_0e_0_usa")
cursor.execute("CREATE DATABASE hbtn_0e_0_usa")
cursor.execute("""
SELECT schema_name AS `Database`
FROM information_schema.schemata
ORDER BY schema_name               
""")
for database in cursor.fetchall():
        print("{}".format(database))

('hbtn_0e_0_usa',)
('information_schema',)
('jireh',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [9]:
cursor.execute("USE hbtn_0e_0_usa")
create_table = """
CREATE TABLE IF NOT EXISTS states ( 
    id INT NOT NULL AUTO_INCREMENT, 
    name VARCHAR(256) NOT NULL,
    PRIMARY KEY (id))
"""
cursor.execute(create_table)
insert_values = """
INSERT INTO states (name) 
VALUES ("California"), ("Arizona"), ("Texas"),
 ("New York"), ("Nevada")
"""
cursor.execute(insert_values)
cursor.execute("SELECT * FROM states")
for state in cursor.fetchall():
    print(state)

(1, 'California')
(2, 'Arizona')
(3, 'Texas')
(4, 'New York')
(5, 'Nevada')

TASK 1

In [15]:
import MySQLdb

db = MySQLdb.connect(host="localhost",
                      user="root",
                       passwd="1amge0rge.",
                       database = "hbtn_0e_0_usa")
new_cursor = db.cursor()

new_cursor.execute("SELECT * FROM states WHERE name LIKE '%e%' ORDER BY id ASC")
for state in new_cursor.fetchall():
    print(f"{state}")

TASK 2

In [14]:
import MySQLdb

db = MySQLdb.connect(host="localhost",
                      user="root",
                       passwd="1amge0rge.",
                       database = "hbtn_0e_0_usa")
new_cursor = db.cursor()

new_cursor.execute("SELECT * FROM states WHERE name = 'Arizona' ORDER BY id ASC")
for state in new_cursor.fetchall():
    print(f"{state}")